# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

binaries/*
intermediate/*
libraries/*
*.ipch
trunk/xray/xr_3da/XR_3DA_2007.sdf
*.opensdf
trunk/xray/xr_3da/ipch/xrgame-46fc8e79/xrgame-bdbbf78f.ipch
trunk/xray/xr_3da/XR_3DA_2007.suo
trunk/xray/xr_3da/XR_3DA_2007.suo
trunk/xray/xr_3da/XR_3DA_2015.VC.db
binaries_release/
profile/
trunk/new 1.txt
trunk/xray/xr_3da/.vs/XR_3DA_2015/v14/.suo
trunk/xray/xr_3da/XR_3DA_2015.VC.VC.opendb
fsgame.ltx
trunk/3rd party/Xiph/libtheora/win32/VS2010/Template/
binaries_2015/lua5.1.dll
binaries_2015/lua5.1.pdb
binaries_2015/luabind.dll
binaries_2015/luabind.pdb
binaries_2015/ode.dll
binaries_2015/ode.ilk
binaries_2015/ode.pdb
binaries_2015/XR_3DA.exe
binaries_2015/XR_3DA.pdb
binaries_2015/xrCDB.dll
binaries_2015/xrCDB.ilk
binaries_2015/xrCDB.pdb
binaries_2015/xrCore.dll
binaries_2015/xrCore.ilk
binaries_2015/xrCore.pdb
binaries_2015/xrCPU_Pipe.dll
binaries_2015/xrCPU_Pipe.ilk
binaries_2015/xrCPU_Pipe.pdb
binaries_2015/xrD3D9-Null.dll
binaries_2015/xrD3D9-Null.ilk
binaries_2015/xrD3D9-Null.pdb
binaries_2015/xrGame.dll
binaries_2015/xrGame.ilk
binaries_2015/xrGame.pdb
binaries_2015/xrGameSpy.dll
binaries_2015/xrGameSpy.pdb
binaries_2015/xrNetServer.dll
binaries_2015/xrNetServer.ilk
binaries_2015/xrNetServer.pdb
binaries_2015/xrParticles.dll
binaries_2015/xrParticles.ilk
binaries_2015/xrParticles.pdb
binaries_2015/xrRender_R2.dll
binaries_2015/xrRender_R2.ilk
binaries_2015/xrRender_R2.pdb
binaries_2015/xrSound.dll
binaries_2015/xrSound.pdb
binaries_2015/xrXMLParser.dll
binaries_2015/xrXMLParser.ilk
binaries_2015/xrXMLParser.pdb
